body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
background-color: #1f2937;
color: white;
display: flex;
flex-wrap: wrap;
padding-left: 125px;
padding-right: 125px;
padding-top: 25px;
padding-bottom: 75px;
justify-content: space-between;
}

.header img {
    width: 400px;
    height: auto;
}