body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
background-color: #1f2937;
display: flex;
padding-left: 150px;
padding-right: 150px;
padding-top: 25px;
padding-bottom: 100px;
flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 600px;
    height: 300px;
}

.inner .title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}