body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
background-color: #1f2937;
display: flex;
padding-left: 175px;
padding-right: 175px;
padding-top: 25px;
padding-bottom: 100px;
flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.header img {
    width: 600px;
    height: 300px;
}

.inner .title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.content {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}

.middle img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 5px solid #3882f6;
}

.middle {
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    flex-direction: column;
}